# macOS
.DS_Store

# virtual environments
.venv/
*/.venv/
.env

# python
__pycache__/
*.pyc

# qobuz
.venv-qobuz/

# qBittorrent (machine-specific)
common/.config/qBittorrent/

# iTerm2 runtime files
macos/.config/iterm2/sockets/
macos/.config/iterm2/tmp/
macos/.config/iterm2/*.lock
macos/.config/iterm2/AppSupport

# code navigation / tool metadata
common/.config/.codemap/
.vscode

# Things you explicitly DO NOT WANT
common/.config/sunshine/
common/.config/menus/
common/.config/github-copilot/
common/.config/StardewValley/
common/.config/thunar/
common/.config/xfce4/

# caches
**/.cache/
**/cache/

# temp
*.log
*.tmp
*.swp